<div class="row">
	<div class="col">
			<div>
			  <u>Name:</u>  <br>
				<%= @prospect.name %>
			</div>
			<div>
				<u> Location:</u> <br>
				<%= @prospect.location %>
			</div>
			<div>
				<u>E-mail:</u> <br>
				<%= @prospect.e_mail %>
			</div>
			<div>
				<u>Phone Number:</u> <br>
				<%= @prospect.phone %>
			</div>
			<div>
				<u>Comments:</u> <br>
				<%= @prospect.comment %>
			</div>
			
		
	</div>
</div>