
<div class="jumbotron_2">
  <div class="container">
  	<div class="row">
		<div class="col text-center pt-4">
			<h2> <%= t('queens.home_page.header') %></h2>
	        <h3> <%= t('queens.home_page.sub_header') %></h3>  
		</div>	
    </div>  
  </div>
</div>
<!-- ---------------------------- -->
<div class="row">
	<div class="col">		
	   <div class="row the_boroughs m-5">
<!-- --------------------------------------------------------- -->
		  <div class="col-lg-6 col-sm-12">
			 <div class="row">
			   	 <div class="col">
			   	 	    <h4> <%= t('generic.free_list_title') %> </h4>

						<% if @q_free_sites.empty? %>
			     <div class="row">
					<div class="col">
						<p>
							<%= t('generic.free_list_none') %>
						</p>		
					</div>
			     </div>
						     <% else %>

				  <ul>
				  	 <% @q_free_sites.each do |q_free_site| %>

					<li>		
					 <div class="p-3 mb-4 bg-info text-center">
					     <u>  Name </u>
					       <div> <%= q_free_site.name %> </div>
					  
					       <u>  Address </u>
					       <div> <%= q_free_site.address %> </div>
					  
					     <u>  Full Info </u>
					       <div> <%= link_to 'Click Here', queens_path(q_free_site) %></div>
					  					     
					 </div>
					</li>
							  <% end %>
				  </ul> 	

					    <% end %>
   	 	     	</div>
   	 	     </div> 	   	 
	 	  </div>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++== -->
   <div class="col-lg-6 col-sm-12">
	  <div class="row">
	   	<div class="col">
	<h4> <%= t('generic.cheap_list_title') %> </h4>
	 <% if @q_cheap_sites.empty? %>
			     <div class="row">
					<div class="col">
						<p class="text-center">
							<p class="text-center">
							<%= t('generic.free_list_none') %>
						</p>		
					</div>
			     </div>
		<% else %>
		  <ul>
            <% @q_cheap_sites.each do |q_cheap_site| %>
              <li>
				<div class="p-3 mb-4 bg-info text-center">			  
	     		     <u>  Name </u>
				       <div> <%= q_cheap_site.name %> </div>
				     <br>
				       <u>  Address </u>
				       <div> <%= q_cheap_site.address %> </div>
				     <br>
				     <u>  Cost </u>
				       <div> <%= q_cheap_site.cost %> </div>
				     <br>
				     <u>  Full Info </u>
				       <div> <%= link_to 'Click Here', queens_path(q_cheap_site) %></div>
				     <br>				     
				</div>
			 </li>
			<% end %>
		  </ul>										   
	<% end %>
	   	</div>
	  </div>  					   	 						  	 	
	</div>
<!-- ------------------------------------------------------- -->
		</div>
	</div>
</div>






































