<div class="row">
	<div class="col text-center">
		<h1> 
	        <%= t('title_and_nav.header') %>
        </h1>
        <h3> 
        	<%= t('title_and_nav.sub') %>
        </h3>		
	</div>	
</div>
<div class="row">
	<div class="col text-center">
		<p> <%= t('site_home.showers') %></p>
	</div>

</div>
<div class="row">
	<div class="col">
		<p class=" text-center"> <%= t('site_home.find_by_boro') %> </p>
		<div class="row">
			<ul>
				<li> <%= link_to t('site_home.bronx') , the_bronx_index_path %> </li>
				<li> <%= link_to t('site_home.queens') , queens_path %></li>
				<li>
					<%= link_to t('site_home.manhattan') , manhattan_index_path %>
				</li>
				<li><%= link_to t('site_home.staten_island') , staten_island_index_path %></li>
				<li><%= link_to t('site_home.brooklyn') , brooklyn_index_path %></li>
			</ul>
		
		</div>
	</div>
</div>