
<div class="jumbotron">
  <div class="container">
  	<div class="row">
		<div class="col text-center">
			<h1> 
		        <%= t('title_and_nav.header') %>
	        </h1>
	        <h3> 
	        	<%= t('title_and_nav.sub') %>
	        </h3>	  
		</div>	
    </div>  
  </div>
</div>

<div class="row">
	<div class="col">

		   <div class="row the_boroughs m-5">
			   	 <div class="col-lg-7 col-sm-0 about p-5">
			   	 	<p>
			   	 		<%= t('about.welcome') %>
			   	 		     <br> <br>
			   	 		<%= t('about.p_1') %>
			   	 		     <br> <br>
			   	<%= t('about.p_2') %> <a href="http://showerpowernyc.org/">Shower Power</a>. <%= t('about.p_3') %>
			   	 		     <br> <br>
			   	 		<%= t('about.p_4') %>     		   	 		
			   	 	</p>
			   	 </div>

			   	 <div class="col-lg-5 col-sm-12 pre-scrollable">
			   	 	        <div class="row mini_blurbs">
								<div class="col text-center">
									<p> <%= t('site_home.showers') %></p>
									<p class=" text-center"> <%= t('site_home.find_by_boro') %> </p>
								</div>
							</div>

					   	 	<div class="row">
					   	 		<div class="col-12 borough bx_select my-2">
					   	 			<%= link_to t('site_home.bronx') , the_bronx_index_path %> 								
					   	 		</div>
						   	</div>
						   	<div class="row">
					   	 		<div class="col-12 borough q_select my-2">
					   	 			<%= link_to t('site_home.queens') , queens_path %> 
										
					   	 		</div>
						   	</div>
						    <div class="row">
					   	 		<div class="col-12 borough m_select my-2">
					   	 			<%= link_to t('site_home.manhattan') , manhattan_index_path %> 
										
					   	 		</div>
						   	</div> 
						   	<div class="row">
					   	 		<div class="col-12 borough si_select my-2">
					   	 			<%= link_to t('site_home.staten_island') , staten_island_index_path %> 
										
					   	 		</div>
						   	</div>
						   	<div class="row">
					   	 		<div class="col-12 borough bk_select my-2">
					   	 			<%= link_to t('site_home.brooklyn') , brooklyn_index_path %> 
										
					   	 		</div>
						   	</div> 	 	
		   	     </div>
		   </div>

	</div>
</div>