<% @body_class = "homepage" %>
<div class="row">
		<div class="col-lg-7 text-center">
			<i>
			    <h1> 
			    	<u><%= t('title_and_nav.header') %></u>
		        </h1>
			</i>
			  <%= image_tag "shower_icon_200.jpg" %>
			           <br>
		        <h3> 
		        	<%= t('title_and_nav.sub') %>
		        </h3>
		</div>
	    <div class="col-lg-5 col-sm-12 pr-5">
   	     	   <div class="row">
					<div class="col text-center direct_to_showers">
						<p> <%= t('site_home.showers') %></p>
						<p class=" text-center"> <%= t('site_home.find_by_boro') %> </p>
					</div>
				</div>
   	     	<ul class="text-center listing">
   	     		<li class="col-12 borough my-2">
   	     		    <%= link_to t('site_home.bronx') , the_bronx_index_path %> 	
   	     		</li>
   	     		<li class="col-12 borough my-2">
   	     			<%= link_to t('site_home.queens') , queens_path %> 
   	     		</li>
   	     		<li class="col-12 borough my-2" >
   	     			<%= link_to t('site_home.manhattan') , manhattan_index_path %> 
   	     		</li>
   	     		<li class="col-12 borough my-2">
   	     			<%= link_to t('site_home.staten_island') , staten_island_index_path %> 
   	     		</li>
   	     		<li class="col-12 borough my-2">
   	     			<%= link_to t('site_home.brooklyn') , brooklyn_index_path %> 
   	     		</li>
   	     	</ul>	
   	    </div>
	
</div>

<div class="row">
  <div class="col">
    <div class="row the_boroughs m-5">
	<!--    	<div class="col-lg-7 col-sm-0 about p-5">
	   	 	
	   	 	<div class="row">
	   	 		<div class="col shadow-sm m-2 p-2">
	   	 			<p> 
		             <%= t('about.welcome') %>
		   	 		     <br> <br>
		   	 		 <%= t('about.home_page') %>
	   	 			</p>

	   	 			 <%= link_to t('about.link'), about_index_path %>
	   	 		</div>
	   	 	</div>

	   	 	<div class="row">
	   	 		<div class="col shadow-sm m-2 p-2">
	   	 			<p> 
	   	 			 <%= t('prospects.home_page') %>
	   	 		    </p>

	   	 			 <%= link_to t('prospects.link'), new_prospect_site_path %>
	   	 		</div>
	   	 	</div>
	   	 
	   	</div> -->


   	<!--      <div class="col-lg-5 col-sm-12 listing">
   	     	   <div class="row">
					<div class="col text-center find_by">
						<p> <%= t('site_home.showers') %></p>
						<p class=" text-center"> <%= t('site_home.find_by_boro') %> </p>
					</div>
				</div>
   	     	<ul>
   	     		<li class="col-12 borough bx_select my-2">
   	     		    <%= link_to t('site_home.bronx') , the_bronx_index_path %> 	
   	     		</li>
   	     		<li class="col-12 borough q_select my-2">
   	     			<%= link_to t('site_home.queens') , queens_path %> 
   	     		</li>
   	     		<li class="col-12 borough m_select my-2" >
   	     			<%= link_to t('site_home.manhattan') , manhattan_index_path %> 
   	     		</li>
   	     		<li class="col-12 borough si_select my-2">
   	     			<%= link_to t('site_home.staten_island') , staten_island_index_path %> 
   	     		</li>
   	     		<li class="col-12 borough bk_select my-2">
   	     			<%= link_to t('site_home.brooklyn') , brooklyn_index_path %> 
   	     		</li>
   	     	</ul>	
   	     </div> -->


    </div>
  </div>
</div>