	<h2> A.P.I. </h2>
	<div class="row">
		<div class="col-lg-5 col-sm-12 about p-5">
			<%= t('api.p_1') %>
		<br>
		<br>
		 <p class="api_json">http://www.freshcityny.com/api/sites</p>
		 <br>
		    <%= t('api.p_2') %>
		<br>

	
		
		<a href="mailto:alfonsoarriolajr@gmail.com"><%= t('api.web_master') %> </a>
		</div>
		<div class="col-lg-7 col-sm-0 p-5 text-center catch_phrase">
			 <p> <i><span class="heart"> <%= t('about.love') %> </span> </i> </p>
			<%= image_tag "shower_icon_200.jpg" %>
			 <p> <i><span class="fresh"> <%= t('about.fresh') %> </span></i> </p>		
		</div>
	</div>
