<h2> <%= t('brooklyn.home_page.header') %></h2>

<h3> <%= t('brooklyn.home_page.sub_header') %></h3>


 <h4> <%= t('generic.free_list_title') %> </h4>
     <% if @bk_free_sites.empty? %>
           <div class="row">
          <div class="col">
            <p class="text-center">
             <%= t('generic.free_list_none') %>
            </p>    
          </div>
           </div>

  <% else %>


        <% @bk_free_sites.each do |bk_free_site| %>
        <div class="p-3 mb-4 bg-info text-white">
             <u>  Name </u>
               <div> <%= bk_free_site.name %> </div>
             <br>
               <u>  Address </u>
               <div> <%= bk_free_site.address %> </div>
             <br>
             <u>  Cost </u>
               <div> <%= bk_free_site.cost %> </div>
             <br>
             
        </div>
      <% end %>
   <% end %>


<h4> <%= t('generic.cheap_list_title') %> </h4>

    <% if @bk_cheap_sites.empty? %>
           <div class="row">
          <div class="col">
            <p class="text-center">
              <%= t('generic.free_list_none') %>
            </p>    
          </div>
           </div>
  <% else %>

       <% @bk_cheap_sites.each do |bk_cheap_site| %>
        <div class="p-3 mb-4 bg-info text-white">       
               <u>  Name </u>
               <div> <%= bk_cheap_site.name %> </div>
             <br>
               <u>  Address </u>
               <div> <%= bk_cheap_site.address %> </div>
             <br>
             <u>  Cost </u>
               <div> <%= bk_cheap_site.cost %> </div>
             <br>
             
        </div>
      <% end %>
  <% end %>