<!DOCTYPE html>
<html>
  <head>
    <title>FreshCity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('bubbles.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <%= t('title_and_nav.title') %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to t('title_and_nav.english'), class: "nav-link", locale: "en" %>
      </li>
      <li class="nav-item">
         <%= link_to t('title_and_nav.spanish'), class: "nav-link", locale: "es" %>       
      </li>
    </ul>
  </div>
</nav>

   <div class="container-fluid">



    <%= yield %>


   </div>
  </body>
</html>
